.moments-content {
  a {
    &.tag {
      color: rgba(var(--colors-primary), 1);
      cursor: pointer;
      background-color: #eef3fe;
      padding: 1px 4px;
      font-size: 12px;
      border-radius: 3px;
      display: inline-block;
      white-space: nowrap;

      &::before {
        content: "#";
      }
    }
  }

  .halo-moment-editor {
    box-sizing: border-box;

    .editor-header {
      display: none;
    }

    .editor-content {
      height: 100%;
      width: 100%;

      .ProseMirror {
        min-height: 10rem;
        overflow: auto;
        outline: none !important;
        padding: 0 !important;

        p {
          &:first-child {
            margin-top: 0 !important;
          }
          &.is-editor-empty {
            &:first-child {
              &::before {
                content: attr(data-placeholder);
                float: left;
                color: #adb5bd;
                pointer-events: none;
                height: 0;
              }
            }
          }
        }

        ul {
          &[data-type="taskList"] {
            list-style: none;
            padding: 0;

            li {
              display: flex;
              align-items: center;

              > label {
                flex: 0 0 auto;
                margin-right: 0.5rem;
              }
            }
          }
        }

        table {
          .selectedCell {
            &:after {
              z-index: 2;
              position: absolute;
              content: "";
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              background: rgba(200, 200, 255, 0.4);
              pointer-events: none;
            }
          }

          .column-resize-handle {
            position: absolute;
            right: -2px;
            top: 0;
            bottom: -2px;
            width: 4px;
            background-color: #adf;
            pointer-events: none;
            cursor: col-resize !important;
          }
        }
      }
    }
  }

  .range-time {
    height: 2.25rem;

    .mx-input {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0.75rem;
      padding-right: 2rem;
      height: 100%;
      border: 1px solid rgb(209 213 219);
      box-shadow: none;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: black;
      cursor: pointer;

      &:focus {
        border-color: #4ccba0;
      }

      &:hover {
        border: 1px solid rgb(209 213 219);
      }
    }

    .mx-input-wrapper {
      height: 100%;
    }
  }

  .v-popper--theme-editor-block-dropdown {
    .v-popper__arrow-container {
      display: none;
    }
  }

  .btn-icon {
    margin-right: 0 !important;
  }

  .preview {
    font-size: 14px;

    a {
      color: #5783f7;
      text-decoration: none;

      &.post-link {
        font-weight: 700;

        &::before {
          content: "#";
          font-weight: 400;
          font-size: 16px;
        }
      }
    }

    .moment-preview-html {
      code {
        border-radius: 0.375rem;
        font-size: 0.8rem;
      }

      &.markdown-body {
        ul {
          list-style: disc;
        }

        ol {
          list-style: decimal;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          border: none !important;
        }

        pre {
          code {
            border: 1px solid #fbf6f6;
          }
        }

        p {
          & > img {
            border-radius: 0.4rem;
            overflow: hidden;
            box-shadow:
              0 1px 3px 0 rgba(0, 0, 0, 0.1),
              0 1px 2px 0 rgba(0, 0, 0, 0.06);
          }

          &:last-child {
            margin-bottom: 0 !important;
          }

          &:not(pre) > code {
            background-color: #afb8c133;
          }
        }
      }
    }
  }
}
