.halo-moment-editor {
  box-sizing: border-box;
}

.halo-moment-editor .editor-header {
  height: 48px;
}

.halo-moment-editor .editor-content {
  height: 100%;
  width: 100%;
}

.halo-moment-editor .editor-content .ProseMirror {
  height: 100%;
  max-height: 50vh;
  overflow: auto;
  outline: none !important;
}

.halo-moment-editor
  .editor-content
  .ProseMirror
  p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.halo-moment-editor .editor-content .ProseMirror pre {
  padding: 0.75rem 1rem;
  margin: 0;
}

.halo-moment-editor .editor-content .ProseMirror pre code {
  color: inherit;
  background: none;
  font-size: 0.8rem;
}

.halo-moment-editor .editor-content .ProseMirror ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

.halo-moment-editor .editor-content .ProseMirror ul[data-type="taskList"] li {
  display: flex;
  align-items: center;
}

.halo-moment-editor
  .editor-content
  .ProseMirror
  ul[data-type="taskList"]
  li
  > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
}

.halo-moment-editor .editor-content .ProseMirror code br {
  display: block;
}

.halo-moment-editor .editor-content .ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.halo-moment-editor .editor-content .ProseMirror p {
  margin-bottom: 0;
  margin-top: 0;
}

.halo-moment-editor .editor-content .ProseMirror table .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}

.halo-moment-editor .editor-content .ProseMirror table th,
.halo-moment-editor .editor-content .ProseMirror table td {
  min-width: 1em;
  border: 2px solid #ced4da;
  padding: 3px 5px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}
.halo-moment-editor .editor-content .ProseMirror table th > *,
.halo-moment-editor .editor-content .ProseMirror table td > * {
  margin-top: 0;
  margin-bottom: 0;
}

.halo-moment-editor .editor-content .ProseMirror table .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: -2px;
  width: 4px;
  background-color: #adf;
  pointer-events: none;
  cursor: col-resize !important;
}

.v-popper--theme-editor-block-dropdown .v-popper__arrow-container {
  display: none;
}

.btn-icon {
  margin-right: 0 !important;
}

.moment-header input {
  height: 2.5rem;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px #00000013;
}

.moment-header .mx-datepicker-range {
  width: 15rem;
}

.preview {
  font-size: 14px;
}

.preview a {
  color: #5783f7;
  text-decoration: none;
}

.preview a.post-link {
  font-weight: 700;
}

.preview a.post-link::before {
  content: "#";
  font-weight: 400;
  font-size: 16px;
}

.v-popper__popper.v-popper__popper--hidden {
  transition: opacity .5s,visibility .5s !important;
}

.v-popper__popper.v-popper__popper--shown {
  transition: opacity .5s !important;
}
